player-connection-mode=Listen
player-connection-guid=3222966499
player-connection-debug=0
player-connection-project-name=ChimeTalk
player-connection-ip=192.168.0.108
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cdfa93761d874c0dbf3303e63df1900e
